{% load blog_tags %}

<div class="p-5 p-lg-1 p-xl-5">

  <header class="mb-5">
    <h1>
      <a href="{% url 'blog:homepage' %}">Blog title</a>
    </h1>
    <h5>blog / subtitle / here</h5>
  </header>

  <!-- search form -->
  <div class="mb-4">
    {% include './post/forms/search_form.html' %}
  </div>

  <!-- description -->
  <div class="mb-5">
    <p>Blog description.</p>
    <p>
      Nulla facilisi. Aliquam erat volutpat. Vivamus dapibus eros vel urna.
      Sed viverra tellus in hac habitasse platea dictumst vestibulum.
    </p>
    <p>Brief bio.</p>
    <!-- <p>I've written {% total_posts %} posts so far.</p> -->
  </div>

  <!-- latest posts -->
  <div class="mb-5">
    <h3>Latest posts</h3>
    {% show_latest_posts 3 %}
  </div>

  <!-- most commented posts -->
  <div>
    <h3>Most commented</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
      {% for post in most_commented_posts %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>