{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<!-- post content -->
<article>
  <h1>{{ post.title }}</h1>
  <p>
    <span class="fst-italic">Published {{ post.publish }}</span>
    by <span class="fw-bold">{{ post.author }}</span> |
    <a href="{% url 'blog:post_share' post.id %}">
      <i class="bi-share"></i> Share this post.
    </a>
  </p>
  {{ post.body|markdown }}
</article>

<!-- similar posts section -->
<section>
  <h2>Similar posts</h2>
  {% for post in similar_posts%}
  <p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
  </p>
  {% empty %}
  There are no similar posts yet.
  {% endfor %}
</section>

<!-- comments section -->
<section>

  <!-- header -->
  {% with comments.count as total_comments %}
  <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
  {% endwith %}

  <!-- comments list -->
  {% for comment in comments %}
  <div class="mb-3 border-bottom border-white">
    <p>
      <span class="fw-bold">
        Comment {{ forloop.counter }} by {{ comment.name }}
      </span><br />
      <span class="fst-italic">
        {{ comment.created }}
      </span>
    </p>
    {{ comment.body|linebreaks }}
  </div>

  {% empty %}
  <p>There are no comments</p>

  {% endfor %}

  <!-- new comment form -->
  <div>{% include "./forms/comment_form.html" %}</div>

</section>

{% endblock %}