{% extends "blog/base.html" %}

{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<!-- Post content ------------------------------>

<article class="mb-5 pb-3">

  <h1>{{ post.title }}</h1>

  <div class="mb-5 pb-4 border-bottom border-secondary">
    <span class="d-block mb-2 text-muted">
      <i class="bi-calendar-event mr-1"></i>
      Published {{ post.publish }} by {{ post.author }}
    </span>
    <a href="{% url 'blog:post_share' post.id %}" class="d-block mb-2">
      <i class="bi-share mr-1"></i> Share this post
    </a>
  </div>

  {{ post.body|markdown }}

</article>

<!-- Similar posts section --------------------->

<section class="mb-5">

  <h2 class="mb-4">Similar posts</h2>

  {% if similar_posts %}
  <div class="row justify-content-center justify-content-md-between justify-content-lg-center justify-content-xl-between">
    {% for post in similar_posts|slice:":3" %}
    <div class="col-12 col-md-3 col-lg-12 col-xl-3 mx-3 px-0 py-3">
      <a href="{{ post.get_absolute_url }}">
        <div class="card">
          <img
            src="{{ post.thumbnail.url }}"
            class="mx-auto card-img-top pt-5 pb-3 px-4 thumbnail-image"
            alt="{{ post.title }}">
          <div class="card-body p-4">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.body|truncatewords_html:125 }}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-muted">There are no similar posts yet.</p>
  {% endif %}

</section>

<!-- Comments section -------------------------->

<section>

  <!-- Header -->
  {% with comments.count as total_comments %}
  <h2 class="mb-4 pb-4 border-bottom border-secondary">
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
  {% endwith %}

  <!-- Comments list -->
  <div class="mb-5">
    {% for comment in comments %}
    <div class="my-4 pb-2 border-bottom border-secondary">
      <p class="text-muted">
        Comment {{ forloop.counter }} by <span class="text-primary">{{ comment.name }}</span><br />
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p class="text-muted">There are no comments yet.</p>
    {% endfor %}
  </div>

  <!-- New comment form ------------------------>
  <div>{% include "./forms/comment_form.html" %}</div>

</section>

{% endblock %}