{% load blog_tags %}

{% if query %}

<!-- Search results -->
<h1>Posts containing "{{query}}"</h1>

<div>

  <!-- Total results -->
  <h6 class="mb-4 text-muted">
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}:
    {% endwith %}
  </h6>

  <!-- Posts -->
  {% for post in results %}
  <div class="row px-0 py-2 p-md-4 border-top border-secondary justify-content-between align-items-center">
    <div class="col-3 px-0 p-sm-3 p-md-4">
      <a href="{{ post.get_absolute_url }}">
        <img src="{{ post.thumbnail.url }}" class="card-img-top thumbnail-image" alt="{{ post.title }}">
      </a>
    </div>

    <div class="col-8 py-3">
      <h3 class="mb-3">
        <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
        </a>
      </h3>
      {{ post.body|truncatewords_html:18 }}
    </div>
  </div>

  <!-- Empty results -->
  {% empty %}
  <p class="pt-2">There are no results for your query.</p>
  {% endfor %}

</div>

{% endif %}