* {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera  */
}

body {
    letter-spacing: .03em;
}

.container-fluid {
    padding: 0;
}

a {
    transition: all .3s ease-in-out;
}

h1 {
    font-family: 'Homemade Apple';
    letter-spacing: 0;
    margin-bottom: 2.25rem;
}

ul {
    padding-inline-start: 0;
}

ul li {
    list-style-type: none;
}

figure img {
    width: 100%;
    padding: 1.25rem 2rem 1.75rem 2rem;
    border-radius: 4rem;
}

figcaption {
    letter-spacing: .1em;
    text-align: center;
    font-style: italic;
    margin-bottom: 1.5rem;
    color: #8a8a8a; /* light */
}

/* Effects ------------------------------------------------------------ */

.glassy {
    background-color: rgba(13, 13, 13, 0.5);
    backdrop-filter: blur(9px);
    z-index: 1;
}

/* Glowing links */
/* a:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
} */

/* Navbar ------------------------------------------------------------- */

.navbar {
    z-index: 5;
}

.navbar-toggler:focus {
    outline: none;
}

#sidebar {
    top: 0;
}

#sidebar .container {
    height: 100vh;
    overflow-y: scroll;
}

/* Cards -------------------------------------------------------------- */

.thumbnail-image {
    max-width: 250px;
    margin: auto;
}

.card {
    max-height: 375px;
    overflow: hidden;
    opacity: 45%;
    transition: opacity 0.3s ease-in-out;
    /* Vendor prefixes for mask-image */
    -webkit-mask-image: linear-gradient(to top, transparent, #1a1a1a 100px);
    mask-image: linear-gradient(to top, transparent, #1a1a1a 100px);
    background: linear-gradient(to top, transparent, #1a1a1a 100px);
}

.card:hover {
    opacity: 100%;
    overflow-y: scroll;
}

/* Limit the card title height to one line */
/* .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

/* media queries ------------------------------------------------------ */

/* medium+ screens */
/* @media (min-width: 768px) {
    #sidebar {
        right: 0;
    }
} */

/* large+ screens */
@media (min-width: 992px) {
    #sidebar {
        right: 0;
    }
}

